{% include "header.html" %}

    <link rel="stylesheet" href="static/assets/css/templatemo-sixteen.css">
    <link rel="stylesheet" href="static/assets/css/owl.css">

    <!-- Page Content -->
    <div class="page-heading products-heading header-text">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-content">
              <h4>SHOP NOW AND GET INSTANT DELIVERY</h4>
              <h2>Premium Goods</h2>
                                  <a href="{{ url_for('delivery') }}" class="filled-button">BUY NOW</a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="filters">
                <h2>PROVISIONS</h2>
              <ul>
                  <li ><a style="color:#4a4a4a" href="{{ url_for('foodstuffs') }}">Food stuffs and Frozen Food</a></li>
                  <li><a style="color:#4a4a4a" href="{{ url_for('product') }}">Drinks and Alcohol</a></li>
              </ul>
            </div>
          </div>
  <div class="col-md-12">
            <div class="filters-content">
                <div class="row grid">
                    {% for n in range(21): %}
                    <div class="col-lg-4 col-md-4 all des">
                      <div class="product-item">
                        <a href="#"><img src='static/assets/images/{{ diction.image[n] }}.jpg' alt="hello"></a>
                        <div class="down-content">
                          <a href="#"><h4>{{ diction.name[n] }}</h4></a>
                          <h6>{{ diction.price[n] }}</h6>
                          <ul class="stars">
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="static/assets/js/custom.js"></script>
    <script src="static/assets/js/owl.js"></script>
    <script src="static/assets/js/slick.js"></script>
    <script src="static/assets/js/isotope.js"></script>
    <script src="static/assets/js/accordions.js"></script>


    <script language = "text/Javascript">
      cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
      function clearField(t){                   //declaring the array outside of the
      if(! cleared[t.id]){                      // function makes it static and global
          cleared[t.id] = 1;  // you could use true and false, but that's more typing
          t.value='';         // with more chance of typos
          t.style.color='#fff';
          }
      }
    </script>